<a href="https://colab.research.google.com/github/hudsonhorta/coleta_dados_beatifulsoap/blob/main/coleta_dados_beatifulsoap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# bibliotecas necessárias
import requests
import re
# !pip install beatifulsoup4
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd

# listas de apoio para Zonas e Páginas
zonas = ['sul', 'norte', 'oeste', 'leste']
paginas = ['', '_Desde_49', '_Desde_97']

#cria lista de preços
lista_preco=[]
lista_zona=[]

# cria uma lista para areas e quartos
lista_area = []
lista_quartos = []

#loops das listas de apoio
for zona in zonas:
  for pagina in paginas:
    #url com a zona e pagina
    url = f'https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-{zona}/{pagina}' 
    
    #leitura do conteudo
    conteudo = requests.get(url).content
    
    #espera de 2 segundos
    sleep(2)

    #leitura do conteudo pelo BeautifilSoup
    sopa = BeautifulSoup(conteudo)
    
    #sopa.find('span', {'class':'price-tag-fraction'}).text

    #armazena os precos
    result_set_precos = sopa.find_all('span', {'class':'price-tag-fraction'})

    #armazena informações de area e quantidade de quartos
    result_set_area_quarto = sopa.find_all('ul', {'class':'ui-search-card-attributes'})

    # laco para adicionar os preço na lista de preços
    for preco, area_quarto in zip(result_set_precos, result_set_area_quarto):
      x = area_quarto.text.split()
      lista_preco.append(preco.text)
      lista_area.append(x[0])
      lista_quartos.append(re.sub('[^0-9]', '', x[2]))
      lista_zona.append(zona)

# cria uma lista de Id com o tamanho da lista_preco
lista_id=[*range(len(lista_preco))]

#cria dicionario para armazenar as informações
dic= {'id': lista_id, 
      'zona': lista_zona,
      'preco': lista_preco,
      'area': lista_area,
      'quartos': lista_quartos}

df = pd.DataFrame(dic)

In [39]:
df

      id   zona  preco area quartos
0      0    sul    690   25       1
1      1    sul    550   40       1
2      2    sul  1.206   70       2
3      3    sul  1.200   44       1
4      4    sul  1.750   96       2
..   ...    ...    ...  ...     ...
571  571  leste  1.400   48       2
572  572  leste  2.150   67       2
573  573  leste  2.120   73       3
574  574  leste  5.000  280       4
575  575  leste    927   25       1

[576 rows x 5 columns]